extends layout 

include _includes/sharedHTMLfunctions

block content
  .container.py-4.py-xl-5
    .row.mb-5
      <app-home-list></app-home-list>
  block scripts 
    script(src='/build/polyfills.js')
    script(src='/build/main.js')
    script(src='/build/runtime.js')