extends layout 

include _includes/sharedHTMLfunctions

block content
  .container.py-4.py-xl-5
    .row.mb-5
      <app-home-list></app-home-list>
  block scripts 
    script(src='/build/polyfills.48728cbf9893c560.js')
    script(src='/build/main.00ea546ad4c7d0c8.js')
    script(src='/build/runtime.5504e8aa113568b7.js')